$colors: (
  bg: #06183b,
  bg-dark: darken(#06183b, 5%),
  bg-light: #fff,
  accent: #f95c6d,
  accent-lt: #ff9e85,
  accent-dk: #613b3b,
  accent2: #49ada4,
  accent2-lt: #b3e6e0,
  accent2-dk: #436d6c,
);

@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

%bg-circle {
  color: color(accent2);
  font-weight: bold;
  background-color: transparent;
  height: 4rem;
  width: 7rem;
  justify-self: center;
  align-self: center;
}

%bg-circle-hide {
  text-align: start;
  font-size: 0.9rem;
  opacity: 0;
  color: color(bg);
  background-color: color(accent);
  border-radius: 5px;
  height: 8rem;
  max-width: 37rem;
  margin: 0.5rem 1.5rem;
  padding: 0.5rem 0;
  animation: fillIn 1s ease-in-out forwards;

  .about-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: 0 1rem;
    padding: 0;
    list-style: none;
  }
}

@keyframes fillIn {
  from {
    width: 5%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

%input-focus {
  outline: none;
  border: none;
  border-bottom: 0.2rem color(bg) solid;
  color: color(bg);

  &::placeholder {
    color: color(bg);
  }
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Arial, Verdana, sans-serif;
  /* 1rem = 14px, 87.5% = 14px*/
  font-size: 87.5%;
  max-width: 85rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/******INTRO******/
.intro-container {
  background-color: color(bg);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

canvas {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.intro {
  position: absolute;
  display: block;
  margin: 10% 10%;
  color: color(bg-light);
  text-align: center;

  #hello {
    font-size: 2.5rem;
    margin: 1.5rem 1rem 4rem;

    span#name {
      color: color(accent);

      &:hover {
        animation: colorChange 1s forwards;
      }
    }
  }

  #more {
    background: transparent;
    padding: 1.5rem 2.5rem;
    color: color(bg-light);
    font-size: 1.6rem;
    font-weight: bold;
    border: 0.3rem solid color(bg-light);
    border-radius: 0.5rem;

    &:hover {
      background: color(accent);
    }
  }
}

/******MENU******/
.menu {
  width: 100%;
}

.menu-container {
  position: relative;
  height: 4rem;
  background-color: color(bg-dark);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo-main img {
      height: 4rem;
      width: auto;
      margin: 0.3rem 0.8rem 0.3rem;
    }

    .nav {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 0;
      left: 0;
      margin-right: 0.5rem;
      width: 100%;
      z-index: 10;

      .nav-list {
        display: flex;
        margin-right: 0.7rem;
        list-style-type: none;
      }
    }
    .nav-pnkt {
      display: block;
      font-size: 1rem;
      margin-left: 2rem;
      color: color(bg-light);

      &::after {
        content: "";
        display: block;
        width: 20%;
        height: 0.1rem;
        background: color(accent);
        position: relative;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: width 0.5s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }

      &:hover {
        color: color(accent);
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + .about + .projects + .contact {
  padding-top: 102px;
} //?????????????????

/******SECTION ABOUT******/
.about {
  position: relative;
  height: 100vh;
  width: 100%;
}

.about-container {
  margin: 1.5rem auto 1rem;
  width: 10rem;
}

.main-h1 {
  display: block;
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  color: color(bg);
  // opacity: 0;
  // transform: translateX(300px);
  // animation: slideRight 0.7s ease both;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.3rem;
    background: color(bg);
    position: relative;
    z-index: 1;
  }
}

.animation-h1 {
  // opacity: 1;
  // transform: translateX(0);
  background-color: yelow;
}

// @keyframes slideRight {
//   0% {
//     opacity: 0;
//     transform: translateX(300px);
//   }
//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

.about-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 9rem 7rem 9.5rem 7rem;
  text-align: center;
  width: 50rem;
  margin: 0 auto;
  height: 28rem;
  font-size: 1.3rem;

  .li-year {
    font-size: 0.7rem;
    font-weight: bold;
  }

  .about-tech {
    grid-column: 1/2;
    grid-row: 1/2;
    @extend %bg-circle;
  }

  .about-tech-hide {
    grid-column: 2/3;
    grid-row: 1/2;
    @extend %bg-circle-hide;
    animation-delay: 0s;
  }

  .about-exp {
    grid-column: 1/2;
    grid-row: 2/3;
    @extend %bg-circle;
    margin-top: 0;
  }

  .about-exp-hide {
    grid-column: 2/3;
    grid-row: 2/3;
    @extend %bg-circle-hide;
    height: 6rem;
    animation-delay: 0.5s;
  }

  .about-crt {
    grid-column: 1/2;
    grid-row: 3/4;
    @extend %bg-circle;
    height: 2rem;
  }

  .about-crt-hide {
    grid-column: 2/3;
    grid-row: 3/4;
    @extend %bg-circle-hide;
    height: 8.5rem;
    animation-delay: 1s;
  }

  .about-edu {
    grid-column: 1/2;
    grid-row: 4/5;
    @extend %bg-circle;
    height: 2rem;
  }

  .about-edu-hide {
    grid-column: 2/3;
    grid-row: 4/5;
    @extend %bg-circle-hide;
    height: 6rem;
    animation-delay: 1.5s;
  }
}

@keyframes colorChange {
  from {
    color: color(accent);
  }
  to {
    color: color(bg-light);
  }
}

@keyframes about {
  from {
    height: 12rem;
    width: 14rem;
    margin: 2rem 2rem 1rem;
    padding-top: 2rem;
  }
  to {
    position: absolute;
    height: 30rem;
    width: 50rem;
  }
}

/******BUTTON******/
#button-cv {
  display: block;
  position: absolute;
  right: -8rem;
  top: 30rem;
  transition: 0.3s;
  width: 11rem;
  height: 3.6rem;
  padding: 0.5rem 0.7rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  background-color: color(accent2);
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;

  .download {
    display: block;
    float: left;
    padding: 0.4rem 0.3rem 0.2rem;
    animation: download 1s ease 1s infinite alternate;
  }

  &:hover {
    right: 0;
  }
}

@keyframes download {
  0% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    transform: scale(1);
    transform: scale(1);
  }
}

/******SECTION PROJECTS******/
.projects {
  position: relative;
  height: 50vh;
  width: 100%;
  background: color(accent2);

  .projects-container {
    margin: 2rem auto;
    width: 30rem;
  }
}

#projects-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60rem;
  margin: 0 auto;

  .img {
    height: 14rem;
    width: 14rem;
    border: 1px solid color(bg);
    border-radius: 5px;
    background: transparent;
    margin: 0.5rem 0.25rem;
  }
}

/******SECTION CONTACT******/
.contact {
  position: relative;
  height: 60vh;
  width: 100%;

  .contact-container {
    margin: 2rem auto;
    width: 11rem;
  }

  .form-text-container {
    width: 37rem;
    margin: 0 auto;
    text-align: center;

    #form-label {
      font-size: 1.5rem;
      color: color(accent2-dk);
      margin-bottom: 2rem;
    }
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 auto;
    background-color: color(accent);
    border-radius: 5px;
    animation: fadeIn 1s ease-out 0.5s;

    .input-general {
      align-items: center;
      margin: 0 auto;
      width: 25rem;
      font-family: inherit;
      font-size: 1rem;
      background-color: transparent;
      border: none;
      border-bottom: 0.2rem color(bg-light) solid;
    }

    .input-text {
      height: 2rem;
      margin-bottom: 1rem;

      &:first-child {
        margin-top: 2rem;
      }

      &::placeholder {
        color: color(bg-light);
      }

      &:focus {
        @extend %input-focus;
      }
    }

    .input-textarea {
      height: 6rem;
      min-height: 3rem;
      max-height: 10rem;
      resize: vertical;

      &::placeholder {
        color: color(bg-light);
      }

      &:focus {
        @extend %input-focus;
      }
    }

    .input-button {
      text-decoration: none;
      font-family: inherit;
      font-size: 1.2rem;
      height: 3rem;
      width: 15rem;
      margin: 2rem auto;
      color: color(bg-light);
      background-color: color(accent2);
      border: none;
      border-radius: 5px;
      transition: all 0.5s;

      &:hover {
        background: color(accent2-dk);
        transition: all 0.5s;
        color: color(bg);
        border-radius: 5px;
        box-shadow: 0px 6px 15px color(bg);
      }

      &:focus {
        @extend %input-focus;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/******FOOTER******/
footer {
  background-color: color(bg);
  height: 70vh;
  width: 100%;

  #footer-container {
    padding-top: 11rem;

    #logo-footer {
      height: 6rem;

      a {
        cursor: pointer;
      }

      img {
        display: block;
        margin: 0 auto;
        padding-top: 0.5rem;
        height: 7rem;
        width: auto;
      }
    }

    h3 {
      display: block;
      color: color(bg-light);
      font-size: 2rem;
      width: 30rem;
      text-align: center;
      margin: 0.5rem auto 0;
    }

    #footer-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 20%;
      margin: 0 auto;
      padding-top: 1rem;

      .fa,
      .mail {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        background: none;
        border: 0.2rem color(bg-light) solid;
        border-radius: 50%;
        color: color(bg-light);
        transition: all 0.5s;

        &:hover {
          background-color: color(bg);
          transition: all 0.5s;
          color: color(accent);
          border: 0.2rem color(accent) solid;
          box-shadow: 0px 6px 15px black;
        }
      }
    }

    #copyright {
      display: block;
      width: 20%;
      margin: 0 auto;
      text-align: center;

      .copyright-text {
        color: color(bg-light);
        font-size: 1rem;
        margin: 1rem auto 0;
      }
    }
  }
}
