/*******BASE RESET*******/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*******BOX-SIZING AND FONT SIZING********/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", Arial, Verdana, sans-serif;
  /* 1rem = 14px, 87.5% = 14px*/
  font-size: 87.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

@media (max-width: 767px) {
  body {
    /* 1rem = 14px, 87.5% = 14px*/
    font-size: 75%;
  }
}

@media (max-width: 576px) {
  body {
    /* 1rem = 14px, 87.5% = 14px*/
    font-size: 62.5%;
  }
}

/*******GENERAL********/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  height: 100vh;
  max-width: 95rem;
  width: 100%;
  margin: 0 auto;
  border: 1px solid transparent;
}

.container .main-h1 {
  font-size: 2.5rem;
  margin: 2.5rem 0 1rem;
}

.container .main-h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background: #06183b;
  position: relative;
}

@media (max-width: 767px) {
  .container .main-h1 {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .container {
    height: 100vh;
    max-width: 85rem;
  }
}

@media (max-width: 992px) {
  .container {
    height: 100vh;
    max-width: 70rem;
  }
}

@media (max-width: 767px) {
  .container {
    height: 100vh;
    max-width: 55rem;
  }
}

@media (max-width: 576px) {
  .container {
    height: 100vh;
    max-width: none;
  }
}

/*******FLEXBOX********/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wide-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/*******ANIMATIONS********/
@-webkit-keyframes fillIn {
  from {
    width: 5%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes fillIn {
  from {
    width: 5%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@-webkit-keyframes colorChange {
  from {
    color: #f95c6d;
  }
  to {
    color: #fff;
  }
}

@keyframes colorChange {
  from {
    color: #f95c6d;
  }
  to {
    color: #fff;
  }
}

@-webkit-keyframes download {
  0% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
            transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    transform: scale(1);
  }
}

@keyframes download {
  0% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
            transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/*******INTRO********/
.no-bd {
  border: 0px solid #000;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #06183b;
}

.intro .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 10rem;
  width: 50%;
}

.intro .intro-content #hello {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #fff;
}

.intro .intro-content #hello span#name {
  color: #f95c6d;
}

.intro .intro-content #hello span#name:hover {
  -webkit-animation: colorChange 1s forwards;
          animation: colorChange 1s forwards;
}

.intro .intro-content #more {
  background: transparent;
  padding: 1.5rem 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  border: 0.3rem solid #fff;
  border-radius: 0.5rem;
}

.intro .intro-content #more:hover {
  background: #f95c6d;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
}

@media (max-width: 767px) {
  .intro .intro-content {
    width: 60%;
  }
  .intro .intro-content #hello {
    font-size: 1.5rem;
  }
  .intro .intro-content #more {
    padding: 0.8rem 1.6rem;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: 0.3rem solid #fff;
    border-radius: 0.5rem;
  }
}

/******MENU******/
.menu-container {
  height: 4rem;
  background-color: #040f24;
}

.menu-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container .header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.menu-container .header #logo-main {
  z-index: 5;
}

.menu-container .header #logo-main img {
  height: 3.5rem;
  width: auto;
  margin-left: 1rem;
}

@media (max-width: 576px) {
  .menu-container .header #logo-main img {
    height: 2.5rem;
    margin-top: 0.5rem;
  }
}

.menu-container .header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 0.5rem;
  width: 100%;
  z-index: 10;
}

.menu-container .header #nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.7rem;
  list-style-type: none;
}

@media (max-width: 576px) {
  .menu-container .header .header-container {
    position: relative;
    width: 100%;
  }
  .menu-container .header #nav {
    position: absolute;
    top: -5rem;
    width: 100%;
    height: 0rem;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .menu-container .header #nav.active {
    height: 4rem;
    margin-top: 8.5rem;
    z-index: 5;
  }
  .menu-container .header #nav .nav-list {
    margin: 0 auto 1rem;
    width: 80%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 576px) and (max-width: 400px) {
  .menu-container .header #nav .nav-list {
    width: 60%;
  }
  .menu-container .header #nav .nav-list .nav-pnkt {
    font-size: 0.7rem;
  }
}

.menu-container .header .nav-pnkt {
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
  color: #fff;
}

.menu-container .header .nav-pnkt::after {
  content: "";
  display: block;
  width: 20%;
  height: 0.1rem;
  background: #f95c6d;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.menu-container .header .nav-pnkt:hover::after, .menu-container .header .nav-pnkt.active::after {
  width: 100%;
}

.menu-container .header .nav-pnkt:hover, .menu-container .header .nav-pnkt.active {
  color: #f95c6d;
}

@media (max-width: 576px) {
  .menu-container .header .nav-pnkt {
    margin: 0;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.navbar-burger {
  display: none;
}

@media (max-width: 576px) {
  .menu-container {
    height: 3.5rem;
  }
  .navbar-burger {
    display: block;
    position: absolute;
    width: 2rem;
    height: 1.2rem;
    top: 1rem;
    right: 0;
    margin-right: 1.5rem;
    z-index: 5;
  }
  .navbar-burger::before, .navbar-burger::after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 0.15rem;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar-burger::before {
    top: 0;
  }
  .navbar-burger::after {
    bottom: 0;
  }
  .navbar-burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 0.15rem;
    left: 0;
    top: 0.52rem;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .navbar-burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0.52rem;
  }
  .navbar-burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0.53rem;
  }
  .navbar-burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

/*******ABOUT********/
.about {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  /* Slideshow container */
  /* Hide the images by default */
  /* Fading animation */
}

.about .about-btns {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin-top: 20%;
}

.about .about-btns .prev, .about .about-btns .next {
  cursor: pointer;
  position: relative;
  width: auto;
  color: #49ada4;
  font-weight: bold;
  font-size: 2rem;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.about .about-btns .prev:hover, .about .about-btns .next:hover {
  background-color: rgba(67, 109, 108, 0.5);
}

@media (min-width: 767px) {
  .about .about-btns {
    display: none;
  }
}

.about .about-container {
  width: 50rem;
}

.about .about-container .row {
  display: block;
}

.about .about-container .about-heading {
  width: 7rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.3rem;
  color: #49ada4;
  font-weight: bold;
  margin: 0 1rem;
}

.about .about-container .about-desc {
  background-color: #f95c6d;
  height: 8rem;
  width: 32rem;
  max-width: 37rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  text-align: start;
  font-size: 0.9rem;
  color: #06183b;
  opacity: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 3px 10px black;
          box-shadow: 0px 3px 10px black;
  -webkit-animation: fillIn 1s ease-in-out forwards;
          animation: fillIn 1s ease-in-out forwards;
}

.about .about-container .about-desc .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 90%;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
}

.about .about-container .about-desc .about-list li {
  width: 17.5rem;
}

.about .about-container .about-desc .about-list .li-bold {
  font-weight: bold;
}

@media (max-width: 992px) {
  .about .about-container .about-desc .about-list li {
    width: 13rem;
  }
  .about .about-container .about-desc .about-list .li-bold {
    font-size: 0.7rem;
  }
  .about .about-container .about-desc .about-list .li-wrap {
    white-space: pre-line;
    width: 11rem;
  }
}

@media (max-width: 576px) {
  .about .about-container .about-desc .about-list .li-bold {
    font-size: 0.6rem;
  }
  .about .about-container .about-desc .about-list .li-wrap {
    white-space: normal;
    width: auto;
  }
  .about .about-container .about-desc .about-list .li-none {
    display: none;
  }
}

@media (min-width: 767px) {
  .about .about-container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about-container .column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .about .about-container .wide-column {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

@media (max-width: 992px) {
  .about .about-container .about-desc {
    font-size: 0.8rem;
  }
}

@media (max-width: 767px) {
  .about .about-container .column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-container .about-heading {
    width: 14rem;
    margin: 0 0 1rem;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .about .about-container .about-desc {
    height: 9rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .about .about-container .about-desc {
    height: 10rem;
    width: 20rem;
    font-size: 0.7rem;
    text-align: center;
  }
  .about .about-container .about-heading {
    width: 20rem;
    margin: 0 0 0.5rem;
  }
}

@media (max-width: 400px) {
  .about .about-container .about-desc {
    width: 16rem;
  }
}

.about .slideshow-container {
  position: relative;
  margin: auto;
}

.about .mySlides {
  display: none;
}

.about .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@media (max-width: 992px) {
  .about .about-container {
    width: 40rem;
  }
}

@media (max-width: 767px) {
  .about .about-container {
    width: 30rem;
  }
}

@media (max-width: 576px) {
  .about .about-container {
    width: 15rem;
    z-index: 2;
  }
}

/******BUTTON******/
#button-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  right: -8rem;
  top: 70rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 11rem;
  height: 3.6rem;
  padding: 1.2rem 0.7rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 3px 10px black;
          box-shadow: 0px 3px 10px black;
  background-color: #49ada4;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#button-cv #button-download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#button-cv #button-download h2 {
  position: absolute;
  top: 35%;
  left: 14.5%;
}

#button-cv .download {
  display: block;
  float: left;
  padding: 0 0.5rem 0;
  -webkit-animation: download 1s ease 1s infinite alternate;
          animation: download 1s ease 1s infinite alternate;
}

#button-cv:hover {
  right: 0;
  -webkit-box-shadow: 0px 8px 18px black;
          box-shadow: 0px 8px 18px black;
}

@media (max-width: 576px) {
  #button-cv {
    position: relative;
    right: 0;
    top: 0;
    width: 9rem;
    height: 3.2rem;
    padding: 1rem 0 1rem 0.35rem;
    margin: 0 auto 2rem;
    font-size: 0.7rem;
    -webkit-box-shadow: 0px 3px 10px black;
            box-shadow: 0px 3px 10px black;
  }
  #button-cv #button-download h2 {
    left: 9%;
  }
  #button-cv .download {
    padding: 0 1rem 0 0.2rem;
    font-size: 1rem;
  }
}

/*******PROJECTS********/
.height {
  height: 90vh;
}

@media (max-width: 898px) {
  .height {
    height: 90vh;
  }
}

@media (max-width: 576px) {
  .height {
    height: 80vh;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  background: #49ada4;
}

.projects .projects-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9rem;
  padding-top: 2rem;
}

.projects .img-container {
  height: 13rem;
  width: 13rem;
  margin: 0.5rem;
  overflow: hidden;
  border: 1px solid #06183b;
  border-radius: 5px;
  background: transparent;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
}

.projects .img-container img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 -37%;
}

.projects .img-container .overlay {
  position: relative;
  top: -13rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110%;
  width: 100%;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #000;
}

.projects .img-container:hover .overlay {
  opacity: 0.8;
}

.projects .img-container .project-desc {
  color: #49ada4;
  opacity: 1;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 898px) {
  .projects .row {
    width: 30rem;
  }
  .projects .img-container {
    height: 12rem;
    width: 12rem;
  }
  .projects .projects-container {
    margin-top: 15rem;
  }
}

@media (max-width: 576px) {
  .projects .row {
    width: 20rem;
  }
  .projects .projects-container {
    margin-top: 0;
  }
  .projects .img-container {
    height: 8rem;
    width: 8rem;
    margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  }
  .projects .img-container .overlay {
    top: -8rem;
  }
  .projects .img-container .project-desc {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .projects {
    height: 60vh;
  }
}

/*******CONTACT********/
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -15rem;
  height: 100vh;
  background-image: url(assets/bg-contact.jpg);
  background-position: 30% 23%;
  background-size: 100%;
}

.contact .contact-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

.contact .contact-container .form-text-container {
  margin: 0 auto;
  text-align: center;
}

.contact .contact-container .form-text-container #form-label {
  font-size: 1.5rem;
  color: #436d6c;
  margin: 0 1rem 2rem;
}

@media (max-width: 576px) {
  .contact .contact-container .form-text-container #form-label {
    font-size: 1rem;
    max-width: 15rem;
  }
}

.contact .contact-container #contact-form {
  width: 30rem;
  margin: 0 auto;
  background-color: #f95c6d;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
  z-index: 2;
}

.contact .contact-container #contact-form .input-general {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 25rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem #fff solid;
}

@media (max-width: 576px) {
  .contact .contact-container #contact-form .input-general {
    width: 15rem;
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .contact .contact-container #contact-form .input-general {
    width: 10rem;
    font-size: 0.9rem;
  }
}

.contact .contact-container #contact-form .input-text {
  height: 2rem;
  margin-bottom: 1rem;
}

.contact .contact-container #contact-form .input-text:first-child {
  margin-top: 2rem;
}

.contact .contact-container #contact-form .input-text::-webkit-input-placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-text:-ms-input-placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-text::-ms-input-placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-text::placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-textarea {
  height: 6rem;
  min-height: 3rem;
  max-height: 10rem;
  resize: vertical;
}

.contact .contact-container #contact-form .input-textarea::-webkit-input-placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-textarea:-ms-input-placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-textarea::-ms-input-placeholder {
  color: #fff;
}

.contact .contact-container #contact-form .input-textarea::placeholder {
  color: #fff;
}

@media (max-width: 576px) {
  .contact .contact-container #contact-form {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  .contact .contact-container #contact-form {
    width: 15rem;
  }
}

.contact .contact-container #submit-button {
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2rem;
  height: 3rem;
  width: 15rem;
  margin: 2rem auto;
  color: #fff;
  background-color: #49ada4;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact .contact-container #submit-button:hover {
  background: #436d6c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #06183b;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 15px #06183b;
          box-shadow: 0px 6px 15px #06183b;
}

@media (max-width: 400px) {
  .contact .contact-container #submit-button {
    width: 10rem;
  }
}

@media (max-width: 898px) {
  .contact {
    margin: -8rem;
    background-position: 30% 5%;
  }
}

@media (max-width: 400px) and (min-height: 600px) {
  .contact {
    height: 70vh;
  }
}

/*******FOOTER********/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60vh;
  width: 100%;
  margin: 0 auto;
  background-color: #06183b;
  border: 1px solid #000;
}

footer .footer-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7rem;
}

footer .footer-container #logo-footer {
  height: 6rem;
}

footer .footer-container #logo-footer a {
  cursor: pointer;
}

footer .footer-container #logo-footer img {
  display: block;
  margin: 0 auto;
  padding-top: 0.5rem;
  height: 6.5rem;
  width: auto;
}

@media (max-width: 767px) {
  footer .footer-container #logo-footer img {
    height: 5.5rem;
  }
}

footer .footer-container #text-footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  font-size: 1.5rem;
  width: 20rem;
  margin: 0.5rem auto 0;
}

footer .footer-container #text-footer-container .text-footer {
  color: #fff;
}

@media (max-width: 767px) {
  footer .footer-container #text-footer-container {
    font-size: 1.3rem;
  }
}

footer .footer-container #footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  margin: 0 auto;
  padding-top: 1rem;
}

footer .footer-container #footer-icons .fa,
footer .footer-container #footer-icons .mail {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  background: none;
  border: 0.2rem #fff solid;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer-container #footer-icons .fa:hover,
footer .footer-container #footer-icons .mail:hover {
  background-color: #06183b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f95c6d;
  border: 0.2rem #f95c6d solid;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
}

@media (max-width: 767px) {
  footer .footer-container .fa,
  footer .footer-container .mail {
    padding: 0.5rem;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
  }
}

footer .footer-container #copyright {
  display: block;
  width: 15rem;
  margin: 0 auto;
  text-align: center;
}

footer .footer-container #copyright .copyright-text {
  color: #fff;
  font-size: 1rem;
  margin: 1rem auto 0;
}

@media (max-width: 898px) {
  footer {
    height: 80vh;
  }
  footer .footer-container {
    margin-top: 12rem;
  }
}

@media (max-width: 400px) and (min-height: 600px) {
  footer {
    height: 60vh;
  }
  footer .footer-container {
    margin-top: 8rem;
  }
}

/***********LANDSCAPE ORIENTATION**********/
@media (min-device-width: 560px) and (max-device-width: 823px) and (min-device-height: 320px) and (max-device-height: 420px) and (orientation: landscape) {
  .container {
    height: 40rem !important;
  }
  .container .main-h1 {
    margin: 8rem 0 1rem;
  }
  .about .about-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer {
    height: 25rem !important;
  }
  footer .footer-container {
    margin-top: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */