.about-grid .about-tech, .about-grid .about-exp, .about-grid .about-crt, .about-grid .about-edu {
  color: #49ada4;
  font-weight: bold;
  background-color: transparent;
  height: 4rem;
  width: 7rem;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-grid .about-tech-hide, .about-grid .about-exp-hide, .about-grid .about-crt-hide, .about-grid .about-edu-hide {
  text-align: start;
  font-size: 0.9rem;
  opacity: 0;
  color: #06183b;
  background-color: #f95c6d;
  border-radius: 5px;
  height: 8rem;
  max-width: 37rem;
  margin: 0.5rem 1.5rem;
  padding: 0.5rem 0;
  -webkit-animation: fillIn 1s ease-in-out forwards;
          animation: fillIn 1s ease-in-out forwards;
  -webkit-box-shadow: 0px 3px 10px black;
          box-shadow: 0px 3px 10px black;
}

.about-grid .about-tech-hide .about-list, .about-grid .about-exp-hide .about-list, .about-grid .about-crt-hide .about-list, .about-grid .about-edu-hide .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  margin: 0 1rem;
  padding: 0;
  list-style: none;
}

@-webkit-keyframes fillIn {
  from {
    width: 5%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes fillIn {
  from {
    width: 5%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

.contact #contact-form .input-text:focus, .contact #contact-form .input-textarea:focus, .contact #contact-form #submit-button:focus {
  outline: none;
  border: none;
  border-bottom: 0.2rem #06183b solid;
  color: #06183b;
}

.contact #contact-form .input-text:focus::-webkit-input-placeholder, .contact #contact-form .input-textarea:focus::-webkit-input-placeholder, .contact #contact-form #submit-button:focus::-webkit-input-placeholder {
  color: #06183b;
}

.contact #contact-form .input-text:focus:-ms-input-placeholder, .contact #contact-form .input-textarea:focus:-ms-input-placeholder, .contact #contact-form #submit-button:focus:-ms-input-placeholder {
  color: #06183b;
}

.contact #contact-form .input-text:focus::-ms-input-placeholder, .contact #contact-form .input-textarea:focus::-ms-input-placeholder, .contact #contact-form #submit-button:focus::-ms-input-placeholder {
  color: #06183b;
}

.contact #contact-form .input-text:focus::placeholder, .contact #contact-form .input-textarea:focus::placeholder, .contact #contact-form #submit-button:focus::placeholder {
  color: #06183b;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", Arial, Verdana, sans-serif;
  /* 1rem = 14px, 87.5% = 14px*/
  font-size: 87.5%;
  max-width: 85rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/******INTRO******/
.intro-container {
  background-color: #06183b;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

canvas {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.intro {
  position: absolute;
  display: block;
  margin: 10% 10%;
  color: #fff;
  text-align: center;
}

.intro #hello {
  font-size: 2.5rem;
  margin: 1.5rem 1rem 4rem;
}

.intro #hello span#name {
  color: #f95c6d;
}

.intro #hello span#name:hover {
  -webkit-animation: colorChange 1s forwards;
          animation: colorChange 1s forwards;
}

.intro #more {
  background: transparent;
  padding: 1.5rem 2.5rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  border: 0.3rem solid #fff;
  border-radius: 0.5rem;
}

.intro #more:hover {
  background: #f95c6d;
}

/******MENU******/
.menu {
  width: 100%;
}

.menu-container {
  position: relative;
  height: 4rem;
  background-color: #040f24;
}

.menu-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .header #logo-main img {
  height: 4rem;
  width: auto;
  margin: 0.3rem 0.8rem 0.3rem;
}

.menu-container .header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  top: 0;
  left: 0;
  margin-right: 0.5rem;
  width: 100%;
  z-index: 10;
}

.menu-container .header #nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.7rem;
  list-style-type: none;
}

.menu-container .header .nav-pnkt {
  display: block;
  font-size: 1rem;
  margin-left: 2rem;
  color: #fff;
}

.menu-container .header .nav-pnkt::after {
  content: "";
  display: block;
  width: 20%;
  height: 0.1rem;
  background: #f95c6d;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 1;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

.menu-container .header .nav-pnkt:hover::after, .menu-container .header .nav-pnkt.active::after {
  width: 100%;
}

.menu-container .header .nav-pnkt:hover, .menu-container .header .nav-pnkt.active {
  color: #f95c6d;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.sticky + .about + .projects + .contact {
  padding-top: 102px;
}

/******SECTION ABOUT******/
.about {
  position: relative;
  height: 100vh;
  width: 100%;
}

.about-container {
  margin: 1.5rem auto 1rem;
  width: 10rem;
}

.main-h1 {
  display: block;
  text-align: center;
  padding-top: 1rem;
  font-size: 3rem;
  color: #06183b;
}

.main-h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.3rem;
  background: #06183b;
  position: relative;
  z-index: 1;
}

.animation-h1 {
  background-color: yelow;
}

.about-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
  -ms-grid-rows: 9rem 7rem 9.5rem 7rem;
      grid-template-rows: 9rem 7rem 9.5rem 7rem;
  text-align: center;
  width: 50rem;
  margin: 0 auto;
  height: 28rem;
  font-size: 1.3rem;
}

.about-grid .li-year {
  font-size: 0.7rem;
  font-weight: bold;
}

.about-grid .about-tech {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.about-grid .about-tech-hide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.about-grid .about-exp {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-top: 0;
}

.about-grid .about-exp-hide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  height: 6rem;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.about-grid .about-crt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: 2rem;
}

.about-grid .about-crt-hide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  height: 8.5rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.about-grid .about-edu {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  height: 2rem;
}

.about-grid .about-edu-hide {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  height: 6rem;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes colorChange {
  from {
    color: #f95c6d;
  }
  to {
    color: #fff;
  }
}

@keyframes colorChange {
  from {
    color: #f95c6d;
  }
  to {
    color: #fff;
  }
}

@-webkit-keyframes about {
  from {
    height: 12rem;
    width: 14rem;
    margin: 2rem 2rem 1rem;
    padding-top: 2rem;
  }
  to {
    position: absolute;
    height: 30rem;
    width: 50rem;
  }
}

@keyframes about {
  from {
    height: 12rem;
    width: 14rem;
    margin: 2rem 2rem 1rem;
    padding-top: 2rem;
  }
  to {
    position: absolute;
    height: 30rem;
    width: 50rem;
  }
}

/******BUTTON******/
#button-cv {
  display: block;
  position: absolute;
  right: -8rem;
  top: 30rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 11rem;
  height: 3.6rem;
  padding: 0.5rem 0.7rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  background-color: #49ada4;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#button-cv .download {
  display: block;
  float: left;
  padding: 0.4rem 0.3rem 0.2rem;
  -webkit-animation: download 1s ease 1s infinite alternate;
          animation: download 1s ease 1s infinite alternate;
}

#button-cv:hover {
  right: 0;
}

@-webkit-keyframes download {
  0% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
            transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    transform: scale(1);
  }
}

@keyframes download {
  0% {
    -webkit-transform: scale(1.1, 0.9);
            transform: scale(1.1, 0.9);
  }
  50% {
    -webkit-transform: scale(0.9, 1.1) translateY(-0.5rem);
            transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    transform: scale(1);
  }
}

/******SECTION PROJECTS******/
.projects {
  position: relative;
  height: 50vh;
  width: 100%;
  background: #49ada4;
}

.projects .projects-container {
  margin: 2rem auto;
  width: 30rem;
}

#projects-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60rem;
  margin: 0 auto;
}

#projects-flex .img {
  height: 14rem;
  width: 14rem;
  overflow: hidden;
  border: 1px solid #06183b;
  border-radius: 5px;
  background: transparent;
  margin: 0.5rem 0.25rem;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
}

#projects-flex .img img {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 -37%;
}

#projects-flex .img .overlay {
  position: relative;
  top: -14rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 110%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #000;
}

#projects-flex .img:hover .overlay {
  opacity: 0.8;
}

#projects-flex .img .project-desc {
  color: #49ada4;
  opacity: 1;
  font-size: 24px;
  font-weight: bold;
  line-height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  text-transform: lowercase;
}

/******SECTION CONTACT******/
.contact {
  position: relative;
  height: 60vh;
  width: 100%;
}

.contact .contact-container {
  margin: 2rem auto;
  width: 11rem;
}

.contact .form-text-container {
  width: 37rem;
  margin: 0 auto;
  text-align: center;
}

.contact .form-text-container #form-label {
  font-size: 1.5rem;
  color: #436d6c;
  margin-bottom: 2rem;
}

.contact #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30rem;
  margin: 0 auto;
  background-color: #f95c6d;
  border-radius: 5px;
  -webkit-animation: fadeIn 1s ease-out 0.5s;
          animation: fadeIn 1s ease-out 0.5s;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
}

.contact #contact-form .input-general {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 25rem;
  font-family: inherit;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  border-bottom: 0.2rem #fff solid;
}

.contact #contact-form .input-text {
  height: 2rem;
  margin-bottom: 1rem;
}

.contact #contact-form .input-text:first-child {
  margin-top: 2rem;
}

.contact #contact-form .input-text::-webkit-input-placeholder {
  color: #fff;
}

.contact #contact-form .input-text:-ms-input-placeholder {
  color: #fff;
}

.contact #contact-form .input-text::-ms-input-placeholder {
  color: #fff;
}

.contact #contact-form .input-text::placeholder {
  color: #fff;
}

.contact #contact-form .input-textarea {
  height: 6rem;
  min-height: 3rem;
  max-height: 10rem;
  resize: vertical;
}

.contact #contact-form .input-textarea::-webkit-input-placeholder {
  color: #fff;
}

.contact #contact-form .input-textarea:-ms-input-placeholder {
  color: #fff;
}

.contact #contact-form .input-textarea::-ms-input-placeholder {
  color: #fff;
}

.contact #contact-form .input-textarea::placeholder {
  color: #fff;
}

.contact #contact-form #submit-button {
  text-decoration: none;
  font-family: inherit;
  font-size: 1.2rem;
  height: 3rem;
  width: 15rem;
  margin: 2rem auto;
  color: #fff;
  background-color: #49ada4;
  border: none;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact #contact-form #submit-button:hover {
  background: #436d6c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #06183b;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 15px #06183b;
          box-shadow: 0px 6px 15px #06183b;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/******FOOTER******/
footer {
  background-color: #06183b;
  height: 70vh;
  width: 100%;
}

footer #footer-container {
  padding-top: 11rem;
}

footer #footer-container #logo-footer {
  height: 6rem;
}

footer #footer-container #logo-footer a {
  cursor: pointer;
}

footer #footer-container #logo-footer img {
  display: block;
  margin: 0 auto;
  padding-top: 0.5rem;
  height: 7rem;
  width: auto;
}

footer #footer-container h3 {
  display: block;
  color: #fff;
  font-size: 2rem;
  width: 30rem;
  text-align: center;
  margin: 0.5rem auto 0;
}

footer #footer-container #footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin: 0 auto;
  padding-top: 1rem;
}

footer #footer-container #footer-icons .fa,
footer #footer-container #footer-icons .mail {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  background: none;
  border: 0.2rem #fff solid;
  border-radius: 50%;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer #footer-container #footer-icons .fa:hover,
footer #footer-container #footer-icons .mail:hover {
  background-color: #06183b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #f95c6d;
  border: 0.2rem #f95c6d solid;
  -webkit-box-shadow: 0px 6px 15px black;
          box-shadow: 0px 6px 15px black;
}

footer #footer-container #copyright {
  display: block;
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

footer #footer-container #copyright .copyright-text {
  color: #fff;
  font-size: 1rem;
  margin: 1rem auto 0;
}
/*# sourceMappingURL=main.css.map */