$colors: (
  bg: #06183b,
  bg-dark: darken(#06183b, 5%),
  bg-light: #fff,
  accent: #f95c6d,
  accent-lt: #ff9e85,
  accent-dk: #613b3b,
  accent2: #49ada4,
  accent2-lt: #b3e6e0,
  accent2-dk: #436d6c,
);

@function color($colors-name) {
  @return map-get($colors, $colors-name);
}

/*******BASE RESET*******/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*******BOX-SIZING AND FONT SIZING********/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Arial, Verdana, sans-serif;
  /* 1rem = 14px, 87.5% = 14px*/
  font-size: 87.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    /* 1rem = 14px, 87.5% = 14px*/
    font-size: 75%;
  }
}

@media (max-width: 576px) {
  body {
    /* 1rem = 14px, 87.5% = 14px*/
    font-size: 62.5%;
  }
}

/*******GENERAL********/
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  height: 100vh;
  max-width: 95rem;
  width: 100%;
  margin: 0 auto;
  border: 1px solid transparent;

  .main-h1 {
    font-size: 2.5rem;
    margin: 2.5rem 0 1rem;
  }

  @media (max-width: 767px) {
    .main-h1 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    height: 100vh;
    max-width: 85rem;
  }
}

@media (max-width: 992px) {
  .container {
    height: 100vh;
    max-width: 70rem;
  }
}

@media (max-width: 767px) {
  .container {
    height: 100vh;
    max-width: 55rem;
  }
}

@media (max-width: 576px) {
  .container {
    height: 100vh;
    max-width: none;
  }
}

// @media  (min-device-width: 560px) 
//     and (max-device-width: 823px)
//     and (min-device-height: 320px) 
//     and (max-device-height: 420px)  
//     and (orientation: landscape) {
//       .container {
//         height: 40rem !important;
//       }
//     }

/*******FLEXBOX********/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wide-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

/*******ANIMATIONS********/
@keyframes fillIn {
  from {
    width: 5%;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes colorChange {
  from {
    color: color(accent);
  }
  to {
    color: color(bg-light);
  }
}

@keyframes about {
  from {
    height: 12rem;
    width: 14rem;
    margin: 2rem 2rem 1rem;
    padding-top: 2rem;
  }
  to {
    position: absolute;
    height: 30rem;
    width: 50rem;
  }
}

@keyframes download {
  0% {
    transform: scale(1.1, 0.9);
  }
  50% {
    transform: scale(0.9, 1.1) translateY(-0.5rem);
  }
  70% {
    transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*******INTRO********/
.no-bd {
  border: 0px solid #000;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: color(bg);

  .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 10rem;
    width: 50%;

    #hello {
      text-align: center;
      margin-bottom: 2rem;
      font-size: 2rem;
      color: color(bg-light);

      span#name {
        color: color(accent);

        &:hover {
          animation: colorChange 1s forwards;
        }
      }
    }

    #more {
      background: transparent;
      padding: 1.5rem 2.5rem;
      color: color(bg-light);
      font-size: 1.6rem;
      font-weight: bold;
      border: 0.3rem solid color(bg-light);
      border-radius: 0.5rem;

      &:hover {
        background: color(accent);
        box-shadow: 0px 6px 15px black;
      }
    }
  }

  @media (max-width: 767px) {
    .intro-content {
      width: 60%;

      #hello {
        font-size: 1.5rem;
      }

      #more {
        padding: 0.8rem 1.6rem;
        color: color(bg-light);
        font-size: 1rem;
        font-weight: bold;
        border: 0.3rem solid color(bg-light);
        border-radius: 0.5rem;
      }
    }
  }
}

/******MENU******/
.menu-container {
  height: 4rem;
  background-color: color(bg-dark);

  .header {
    display: flex;

    .header-container {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    #logo-main {
      z-index: 5;

      img {
        height: 3.5rem;
        width: auto;
        margin-left: 1rem;
      }
    }

    @media (max-width: 576px) {
      #logo-main img {
          height: 2.5rem;
          margin-top: 0.5rem;
        }
      }

    #nav {
      display: flex;
      justify-content: flex-end;
      position: relative;
      top: 0;
      left: 0;
      margin-right: 0.5rem;
      width: 100%;
      z-index: 10;

      .nav-list {
        display: flex;
        margin-right: 0.7rem;
        list-style-type: none;
      }
    }

    @media (max-width: 576px) {
      .header-container {
        position: relative;
        width: 100%;
      }

      #nav {
        position: absolute;
        top: -5rem;
        width: 100%;
        height: 0rem;
        transition: all 0.5s ease 0s;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: -1;

        &.active {
        height: 4rem;
        margin-top: 8.5rem;
        z-index: 5;
        }
      
        .nav-list {
          margin: 0 auto 1rem;
          width: 80%;
          align-items: flex-end;
          justify-content: space-around;
        }

        @media (max-width: 400px) {
          .nav-list {
            width: 60%;
    
            .nav-pnkt {
            font-size: 0.7rem;
            }
          }
        }
      }
    }

    .nav-pnkt {
      display: block;
      font-size: 1rem;
      margin-left: 2rem;
      color: color(bg-light);

      &::after {
        content: "";
        display: block;
        width: 20%;
        height: 0.1rem;
        background: color(accent);
        position: relative;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: width 0.5s ease-in-out;
      }

      &:hover::after, &.active::after {
        width: 100%;
      }

      &:hover, &.active {
        color: color(accent);
      }
    }

    
    @media (max-width: 576px) {
      .nav-pnkt {
        margin: 0;
      }
    }
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
} 

.navbar-burger {
  display: none;
}


@media (max-width: 576px) {
  .menu-container {
    height: 3.5rem;
  }

  .navbar-burger {
    display: block;
    position: absolute;
    width: 2rem;
    height: 1.2rem;
    top: 1rem;
    right: 0;
    margin-right: 1.5rem;
    z-index: 5;
  
    &::before,
    &::after {
      content: '';
      background-color: color(bg-light);
      position: absolute;
      width: 100%;
      height: 0.15rem;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }

    & span {
      position: absolute;
      background-color: color(bg-light);
      width: 100%;
      height: 0.15rem;
      left: 0;
      top: 0.52rem;
      transition: all 0.3s ease 0s;
    }

    &.active::before {
      transform: rotate(45deg);
      top: 0.52rem;
    }

    &.active::after {
      transform: rotate(-45deg);
      bottom: 0.53rem;
    }

    &.active span {
      transform: scale(0);
    }
  }
}

/*******ABOUT********/
.about {
  justify-content: center;
  align-items: center;
  height: 100vh;

  .about-btns {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-top: 20%;

    .prev, .next {
      cursor: pointer;
      position: relative;
      width: auto;
      color: color(accent2);
      font-weight: bold;
      font-size: 2rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    .prev:hover, .next:hover {
      background-color: rgba(67, 109, 108, 0.5);
    }
  }

  @media (min-width: 767px) {
    .about-btns {
      display: none;
    }
  }

  .about-container {
    width: 50rem;

    .row {
      display: block;
    }

    .about-heading {
      width: 7rem;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.3rem;
      color: color(accent2);
      font-weight: bold;
      margin: 0 1rem;
    }

    .about-desc {
      background-color: color(accent);
      height: 7rem;
      width: 32rem;
      max-width: 37rem;
      margin-bottom: 1rem;
      padding: 0.5rem 0;
      text-align: start;
      font-size: 0.9rem;
      color: color(bg);
      opacity: 0;
      border-radius: 5px;
      box-shadow: 0px 3px 10px black;
      animation: fillIn 1s ease-in-out forwards;

      .about-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100%;
        width: 90%;
        margin: 0 1rem;
        padding: 0;
        list-style: none;

        li {
          width: 17.5rem;
        }

        .li-bold {
          font-weight: bold;
        }

        @media (max-width: 992px) {
          li {
            width: 13rem;
          }

          .li-bold {
            font-size: 0.7rem;
          }

          .li-wrap {
            white-space: pre-line;
            width: 11rem;
          }
        }

        @media (max-width: 576px) {
          .li-bold {
            font-size: 0.6rem;
          }

          .li-wrap {
            white-space: normal;
            width: auto;
          }

          .li-none {
            display: none;
          }
        }
      }
    }

    @media (min-width: 767px) {
      .row {
        display: flex;
      }

      .column {
        flex: 1;
      }

      .wide-column {
        flex: 4;
      }
    }    
    
    @media (max-width: 992px) {
      .about-desc {
        font-size: 0.8rem;
      }
    }
      
    @media (max-width: 767px) {
      .column {
        align-items: center;
      }

      .about-heading {
        width: 14rem;
        margin: 0 0 1rem;
        justify-content: left;
      }

      .about-desc {
        height: 8rem;
        font-size: 0.9rem;
      }
    }

    @media (max-width: 576px) {
      .about-desc {
        height: 10rem;
        width: 20rem;
        font-size: 0.7rem;
        text-align: center;
      }

      .about-heading {
        width: 20rem;
        margin: 0 0 0.5rem;
      }
    }

    @media (max-width: 400px) {
      .about-desc {
        width: 16rem;
      }
    }
  }

    /* Slideshow container */
    .slideshow-container {
      position: relative;
      margin: auto;
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

  @media (max-width: 992px) {
    .about-container {
      width: 40rem;
    }
  }

  @media (max-width: 767px) {
    .about-container {
      width: 30rem;
    }
  }

  @media (max-width: 576px) {
    .about-container {
      width: 15rem;
      z-index: 2;
    }
  }
}

/******BUTTON******/
#button-cv {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: -8rem;
  top: 70rem;
  transition: 0.3s;
  width: 11rem;
  height: 3.6rem;
  padding: 1.2rem 0.7rem;
  border: 0.1rem solid #000;
  border-radius: 1rem;
  box-shadow: 0px 3px 10px black;
  background-color: color(accent2);
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;

  #button-download {
    display: flex;
    flex-direction: column;

    h2 {
      position: absolute;
      top: 35%;
      left: 14.5%;
    }
  }

  .download {
    display: block;
    float: left;
    padding: 0 0.5rem 0;
    animation: download 1s ease 1s infinite alternate;
  }
  
  &:hover {
    right: 0;
    box-shadow: 0px 8px 18px black;
  }
}

@media (max-width: 576px) {
  #button-cv {
    position: relative;
    right: 0;
    top: 0;
    width: 9rem;
    height: 3.2rem;
    padding: 1rem 0 1rem 0.35rem;
    margin: 0 auto 2rem;
    font-size: 0.7rem;
    box-shadow: 0px 3px 10px black;

    #button-download h2 {
      left: 9%;
    }

    .download {
      padding: 0 1rem 0 0.2rem;
      font-size: 1rem;
    }
  }
}

/*******PROJECTS********/
.height {
  height: 90vh;
}

@media (max-width: 898px) {
  .height {
    height: 90vh;
  }
}

@media (max-width: 576px) {
  .height {
    height: 80vh;
  }
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: color(accent2);

  .projects-container {
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
    padding-top: 2rem;
  }

  .img-container {
    height: 13rem;
    width: 13rem;
    margin: 0.5rem;
    overflow: hidden;
    border: 1px solid color(bg);
    border-radius: 5px;
    background: transparent;
    box-shadow: 0px 6px 15px black;

    img {
      display: block;
      height: 100%;
      width: auto;
      margin: 0 -37%;
    }

    .overlay {
      position: relative;
      top: -13rem;
      bottom: 0;
      left: 0;
      right: 0;
      height: 110%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #000;
    }

    &:hover .overlay {
      opacity: 0.8;
    }

    .project-desc {
      color: color(accent2);
      opacity: 1;
      font-size: 1.5rem;
      font-weight: bold;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  @media (max-width: 898px) {
    .row {
      width: 30rem;
    }

    .img-container {
      height: 12rem;
      width: 12rem;
    }

    .projects-container {
      margin-top: 15rem;
    }
  }

  @media (max-width: 576px) {
    .row {
      width: 20rem;
    }

    .projects-container {
      margin-top: 0;
    }

    .img-container {
      height: 8rem;
      width: 8rem;
      margin: 0.2rem 0.2rem 0.2rem 0.5rem;

      .overlay {
        top: -8rem;
      }
  
      .project-desc {
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .projects {
    height: 60vh;
  }
}

/*******CONTACT********/
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -15rem;
  height: 100vh;
  background-image: url(assets/bg-contact.jpg);
  background-position: 30% 23%;
  background-size: 100%;

  .contact-container {
    justify-content: center;
    align-items: center;
    margin-top: 7rem;

    .form-text-container {
      margin: 0 auto;
      text-align: center;

      #form-label {
        font-size: 1.5rem;
        color: color(accent2-dk);
        margin: 0 1rem 2rem;
      }

      @media (max-width: 576px) {
        #form-label {
          font-size: 1rem;
          max-width: 15rem;
        }
      }      
    }

    #contact-form {
      width: 30rem;
      margin: 0 auto;
      background-color: color(accent);
      border-radius: 5px;
      box-shadow: 0px 6px 15px black;
      z-index: 2;

      .input-general {
        align-items: center;
        margin: 0 auto;
        width: 25rem;
        font-family: inherit;
        font-size: 1rem;
        background-color: transparent;
        border: none;
        border-bottom: 0.2rem color(bg-light) solid;
      }

      @media (max-width: 576px) {
        .input-general {
          width: 15rem;
          font-size: 1rem;
        }
      }

      @media (max-width: 400px) {
        .input-general {
          width: 10rem;
          font-size: 0.9rem;
        }
      }

      .input-text {
        height: 2rem;
        margin-bottom: 1rem;

        &:first-child {
          margin-top: 2rem;
        }

        &::placeholder {
          color: color(bg-light);
        }

        // &:focus {
        //   @extend %input-focus;
        // }
      }

      .input-textarea {
        height: 6rem;
        min-height: 3rem;
        max-height: 10rem;
        resize: vertical;

        &::placeholder {
          color: color(bg-light);
        }

        // &:focus {
        //   @extend %input-focus;
        // }
      }
    }

    @media (max-width: 576px) {
      #contact-form {
        width: 20rem;
      }
    }

    @media (max-width: 400px) {
      #contact-form {
        width: 15rem;
      }
    }

    #submit-button {
      text-decoration: none;
      font-family: inherit;
      font-size: 1.2rem;
      height: 3rem;
      width: 15rem;
      margin: 2rem auto;
      color: color(bg-light);
      background-color: color(accent2);
      border: none;
      border-radius: 5px;
      transition: all 0.5s;

      &:hover {
        background: color(accent2-dk);
        transition: all 0.5s;
        color: color(bg);
        border-radius: 5px;
        box-shadow: 0px 6px 15px color(bg);
      }

      // &:focus {
      //   @extend %input-focus;
      // }
    }

    @media (max-width: 400px) {
      #submit-button {
        width: 10rem;
      }
    }
  }
}

@media (max-width: 898px) {
  .contact {
    margin: -8rem;
    background-position: 30% 5%;
  }
}

@media (max-width: 400px) and (min-height: 600px) {
  .contact {
  height: 70vh;
  }
}

/*******FOOTER********/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
  margin: 0 auto;
  background-color: color(bg);
  border: 1px solid #000;

  .footer-container {
    justify-content: center;
    align-items: center;
    margin-top: 7rem;

    #logo-footer {
      height: 6rem;

      a {
        cursor: pointer;
      }

      img {
        display: block;
        margin: 0 auto;
        padding-top: 0.5rem;
        height: 6.5rem;
        width: auto;
      }
    }

    @media (max-width: 767px) {
      #logo-footer img {
        height: 5.5rem;
      }
    }

    #text-footer-container {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      font-size: 1.5rem;
      width: 20rem;
      margin: 0.5rem auto 0;

      .text-footer {
        color: color(bg-light);
      }
    }

    @media (max-width: 767px) {
      #text-footer-container {
        font-size: 1.3rem;
      }
    }

    #footer-icons {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 15rem;
      margin: 0 auto;
      padding-top: 1rem;

      .fa,
      .mail {
        padding: 0.5rem;
        font-size: 1.5rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        background: none;
        border: 0.2rem color(bg-light) solid;
        border-radius: 50%;
        color: color(bg-light);
        transition: all 0.5s;

        &:hover {
          background-color: color(bg);
          transition: all 0.5s;
          color: color(accent);
          border: 0.2rem color(accent) solid;
          box-shadow: 0px 6px 15px black;
        }
      }
    }

    @media (max-width: 767px) {
      .fa,
      .mail {
        padding: 0.5rem;
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
      }
    }
  

    #copyright {
      display: block;
      width: 15rem;
      margin: 0 auto;
      text-align: center;

      .copyright-text {
        color: color(bg-light);
        font-size: 1rem;
        margin: 1rem auto 0;
      }
    }
  }
}

@media (max-width: 898px) {
  footer {
    height: 80vh;
  
    .footer-container {
      margin-top: 12rem;
    }
  }
}

@media (max-width: 400px) and (min-height: 600px) {
  footer {
    height: 60vh;

    .footer-container {
      margin-top: 8rem;
    }
  }
}

/***********LANDSCAPE ORIENTATION**********/

@media  (min-device-width: 560px) 
    and (max-device-width: 823px)
    and (min-device-height: 320px) 
    and (max-device-height: 420px)  
    and (orientation: landscape) {
      .container {
        height: 40rem !important;

        .main-h1 {
          margin: 8rem 0 1rem;
        }
      }

      .about .about-btns {
        display: flex;
      }

      footer {
        height: 25rem !important;

        .footer-container {
          margin-top: 4rem;
        }
      }
    }